---
import Form from '@/blocks/form/Form.astro';
import Zabeika from '@/blocks/zabeika/Zabeika.astro';
import Layout from '@/layouts/Layout.astro';

import styles from './styles.module.scss';
---

<Layout>
  <div class={styles.container}>
    <Zabeika />
    <Form />
  </div>
</Layout>
