---
import Form from '@/blocks/Form/Form.astro';
import Peshka from '@/blocks/peshka/Peshka.astro';
import Layout from '@/layouts/Layout.astro';

import styles from './styles.module.scss';
---

<Layout>
  <div class={styles.container}>
    <Peshka />
    <Form />
  </div>
</Layout>
